html {
    --text: #000000;
    --background: #85a3e0;
    --primary: #80c8ff;
    --secondary: #b2b28a;
    --accent: #ffffff;
    
}
body {
    color: var(--text);
    background: var(--accent);
    font-family: "Passion One";
    font-size:20px ;
    font-style: italic;
    font: weight 100px;
}
h1,
h2,
h3{
    color: var(--text);
    font-family: "pacifico" ;
}


p {
    background: var(--accent);
}
img {
    padding: 4px;
    /* border: 4px dashed var(--secondary); */
    border-radius: 16px;
    background: var(--primary);
}